body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.wrapper{
    margin: 10px;
}

.form{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    margin: 0px 0px 0px 20px;
    /* border: 10px solid pink; */

    justify-content: space-around;

    align-items: flex-start;

    /* flex-wrap: wrap-reverse; */

}

.flex-col{
    /* flex-grow: 1;
    
    flex-shrink: 0;
    
    flex-basis: 200px; */

    flex:0 1 200px;

    /* border: 10px solid red; */
}

.flex-item{
    background-color: aqua;
    font-size: 50px;
    color: black;
    font-weight: bold;
}