body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 10px;
    /* background-color: pink; */
    width: max-content;
}

.main{
    /* background-color: red; */
}


form input{
    margin: 10px 0px;
}